*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input,
button,
textarea,
select {
    color: inherit;
    font: inherit;
}

::placeholder {
    color: inherit;
    opacity: 0.5;
}

:root {
    --bg: #fff;
    --fg: #000;
    --acc: #000;
    --shadow: #0003;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --fg: #fff;
        --acc: #fff;
    }
}

body {
    color: var(--fg);
    background: var(--bg);
    font-family: "Inter", sans-serif;
}

a {
    color: var(--acc);
}
