@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Round&display=swap");

:root {
    --background-color: #fff;
    --text-color: #222;
    --darker-accent-color: #224c00;
    --accent-color: #3e7213;
    --lighter-accent-color: #bae397;
    --line-color: #c12;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
}
